/* Theme variables */
:root[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #333;
    --section-bg: rgba(255, 255, 255, 0.5);
    --header-bg: rgba(255, 255, 255, 0.5);
}

:root[data-theme="dark"] {
    --bg-color: #333;
    --text-color: #fff;
    --section-bg: rgba(0, 0, 0, 0.5);
    --header-bg: rgba(0, 0, 0, 0.5);
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
    color: var(--text-color);
    margin: 0;
}

/* Header and Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-bg);
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}

header nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s;
    border-radius: 10px;
}

header nav a:hover {
    color: #007BFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 20px;
}

section {
    background-color: var(--section-bg);
    padding: 1em;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
}

section:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
section h3 {
    margin: 10px 0;
    font-style: italic;
    font-size: small;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

i {
    margin-right: 10px;
    font-size: 18px;
}

/* Theme switch */
.theme-switch {
    margin-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Social media */
.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.social-media a {
    position: relative;
    
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.social-media a::after, .social-media a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.social-media a::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}

/* Footer */
footer {
    background-color: var(--header-bg);
    color: var(--text-color);
    padding: 1em;
    text-align: center;
}